#batteryLabel {
  font-size: 20;
  text-length: 4;
  text-anchor: middle;
  x: 10%;
  y: 10%;
  fill: white;
}

#heart {
  height: 18; 
  width: 20;
  x: 79%;
  y: 5%;
}

#heartrateLabel {
  font-size: 20;
  text-length: 4;
  text-anchor: middle;
  x: 90%;
  y: 10%;
  fill: white;
}

#dateLabel {
  font-size: 30;
  text-length: 28;
  text-anchor: middle;
  x: 50%;
  y: 30%;
  fill: white;
}

#myLabel {
  font-size: 100;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+25;
  fill: white;
}

#stepsLabel {
  font-size: 25;
  text-length: 28;
  text-anchor: middle;
  x: 50%;
  y: 90%;
  fill: white;
}

